[project]
	description = C implementation of the Thermodynamic Equation Of Seawater - 2010 (TEOS-10)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Ocean Observatories Owners
	owner = group user/Everett Kladstrup (r-ekladstrup)
[access "refs/heads/*"]
	read = group Registered Users
	create = group Ocean Observatories Owners
	push = group Ocean Observatories Owners
	pushMerge = group Ocean Observatories Owners
[access "refs/tags/*"]
	push = group Ocean Observatories Owners
	pushTag = group Ocean Observatories Owners
	pushSignedTag = group Ocean Observatories Owners
